@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'request';
    src: url('request/Request.otf') format('opentype');
}

.teknod {
    font-family: request;
    color: var(--light-color);
    font-size: 5rem;
    letter-spacing: .5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

:root {
    --dark-color: #001427;
    --light-color: #FEFCFB;
    --grey-color: #86a8bd;
    --primary-color: #393A10;
    --secondary-color: #138A36;
    --third-color: #700548;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Rubik Mono One", monospace;
    color: var(--dark-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 2.5rem;

}


p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--grey-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.insta {
    margin-right: 10px;
}

button,
a {
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;

}

.btn {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.common-heading {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.common-tittle {
    margin-bottom: 4rem;
}






/* navbar style */
.nav-link {
    color: var(--secondary-color);
    font-weight: bold;

}

.nav-link:hover {
    color: var(--dark-color);

}


/* Hero section start */
.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main {
    height: 94vh;
    position: relative;
}

.hero-video--section {
    width: 40rem;
    border-radius: 2rem;
}

.bg-color {
    background-color: var(--third-color);
}

.text-light-grey {
    color: var(--grey-color);
}

.common-section {
    padding: 0 0 5rem 0;
}

/* .bg-theme {
    color: var(--secondary-color);
    background-image: none;
} */

.custom-shape-divider-bottom-1722019396 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722019396 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 99px;
}

.custom-shape-divider-bottom-1722019396 .shape-fill {
    fill: #FFFFFF;
}

/* Service Section */

.services-images {
    width: 100%;
    height: auto;
}

.services-section {
    padding: 4rem 0 3rem 0;
}

.icon-span {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.card-box {
    background-color: var(--light-color);
}

.card-box:hover {
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

/* services section ends */


/* Showcase section starts */

.more-info-section {
    color: var(--third-color);
}

.row-section {
    margin: 25px 0 25px 0;
}

.more-info-section .img-section {
    position: relative;
}

.more-info-section .img-section img {

    position: absolute;
    left: 150px;
    top: 40px;
    width: 40%;
}

.business-section {
    padding-top: 2.5rem;
}



/* Showcase section ends */

/* < !-- Testimonial section start --> */

.carousel-inner .card {
    z-index: 10;
    transition: all .2s linear;

}

.carousel-inner .card:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer !important;

}

.carousel-inner .card:hover .card-body .card-text {
    color: var(--light-color);

}

.carousel-indicators {
    bottom: -5rem;
}

.carousel-indicators [data-bs-target] {
    width: 4rem;
    height: .4rem;
    background-color: var(--light-color);
}

/* < !-- Testimonial section ends --> */